*{
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    overflow-x: hidden;
    font-family: var(--main-font);
    width: 100%;
    background-color: var(--gray-color);
    
}

h1{font-size: 2em; text-align: center;}
h2{font-size: 1.6em; text-align: center;}
p{font-size: 15px; text-align: justify;}

#formulario-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 4px;
    text-align: center;
}
.caja{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    padding: 11px;
    color: var(--second-color);
    border-radius: 35px;
    box-shadow: var(--boxshadow);
    width: 98%;

}
.caja:hover{
    box-shadow: var(--boxshadow-hover);
}

.agenda{
    font-size: 2em;
}

.contacto{
    display: flex;
    flex-direction: column-reverse;
    padding: 34px 0px;
    align-items: center;
}


.img-wrapper{
    display: flex;
    justify-content: flex-start;
}
.img-wrapper img{
    display: flex;
    height: 324px;
    width: 279px;
    background-position: center center;
    margin-top: 58px;
    
}
.rigth-side{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.inputs{
    display: flex;
    flex-direction: row;
    padding: 8px 1px;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.inputs textarea{
    width: 225px;
}
label{
    font-size: 1em;
    margin: 0px 3px;
}
input{
    padding: 12px 0px;
    width: 225px;

}

.titulo-contacto{
   text-align: center;
}

.titulo-contacto p{
    font-size: 1.2em;
}
.contacto-opcion{
    display: flex;
    flex-direction: column;
}




.submit input{
    display: flex;
    text-align: center;
    margin-top: 14px;
    font-size: 1em;
    border: 2px solid var(--link-color);
    border-radius: 25px;
    background-color: var(--main-color);
    color: var(--second-color);
    box-shadow: 0px -1px 10px var(--link-color);
    justify-content: center;
    
}

.submit input:hover{
    box-shadow: 0px -1px 10px   var(--neon-blue);
}


.horarios p{
    font-size: 1.2em;
}
.horarios select{
    font-size: 1.2em;    

}

@media(min-width:800px){
   
    #formulario-contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 97px 6px;
        text-align: center;
    }
    .caja{
        background-color: var(--main-color);
        padding: 36px 0px;
        width: 868px;
    }
        
    
    .contacto{
        display: flex;
    flex-direction: row-reverse;
    padding: 30px 0px;
    justify-content: space-evenly;
    }
    
    
    .img-wrapper{
        display: flex;
        justify-content: flex-start;
    }

    .img-wrapper img{
        width: 275px;
    }

    .inputs{
    display: flex;
    flex-direction: row;
    padding: 8px 15px;
    justify-content: center;
    align-items: center;
    gap: 11px;
    }


    .contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    }

    .contacto-opcion{
        display: flex;
        flex-direction: row;
        padding: 11px 0px;
    }
    .contacto-opcion input{
        width: 25px;
    }

    .contacto-opcion label{
        width: 75px;

    }
}
