*{
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    overflow-x: hidden;
    font-family: var(--main-font);
    width: 100%;
    background-color: var(--gray-color);
    
}

h1{font-size: 2em; text-align: center;}
h2{font-size: 1.6em; text-align: center;}
p{font-size: 15px; text-align: justify;}

#formulario-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 4px;
    text-align: center;
}
.caja{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 11px;
    color: var(--second-color);
    border-radius: 35px;
    box-shadow: var(--boxshadow);

}
.caja:hover{
    box-shadow: var(--boxshadow-hover);
}

.agenda{
    font-size: 2em;
}

.contacto{
    display: flex;
    flex-direction: column-reverse;
    padding: 34px 0px;
    justify-content: center;
    align-items: center;
}


.img-wrapper{
    display: flex;
    justify-content: flex-start;
}
.img-wrapper img{
    width: 270px;
    padding-top: 55px;
    
}
.rigth-side{
    display: flex;
    flex-direction: column;
    text-align: center;
}



.submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 39px;
}
.submit input{
    font-size: 1.3em;
    border: 2px solid var(--link-color);
    border-radius: 25px;
    background-color: var(--main-color);
    color: var(--second-color);
    box-shadow: 0px -1px 10px  var(--link-color);
}
.submit input:hover{
    box-shadow: 0px -1px 10px   var(--neon-blue);
}


@media(min-width:800px){
    #formulario-contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 97px 6px;
        text-align: center;
    }
    .caja{
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        color: var(--second-color);
        border-radius: 35px;
    }
    .contacto{
        display: flex;
        flex-direction: row;
        padding: 55px 0px;
        justify-content: center;
        gap: 78px;
    }
    
    
    .img-wrapper{
        display: flex;
        justify-content: flex-start;
    }
    .img-wrapper img{
        display: flex;
        flex-direction: column;
        width: 318px;
        height: 341px;
        padding: 0px;
    }

}
