*{
    box-sizing: border-box;
    
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*,
*:before,
*:after{
  box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
    font-family: var(--main-font);
    width: 100%;
    /* color:aliceblue; 
    background-color: black */; 
}

   
  
  

img,
video {
  max-width: 100%;
  height: auto;
}


html{
    scroll-behavior: smooth;
}


h1{font-size: 2em; text-align: center;}
h2{font-size: 1.6em; text-align: center;}
p{font-size: 15px; text-align: justify;}





 #hero{
    margin: 0;
    display: flex;
    align-items: center;
    color: var(--second-color);
    background-image: linear-gradient( 0deg, rgb(11, 0, 15), rgba(29, 1, 19, 0.5) ) , url(../img/barber.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 114px 0px;
    flex-direction: column;
    flex-wrap: nowrap;
   
}

#hero .titulo{
    font-weight: bold;
    text-align: center;
}

#acercaDe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin-bottom: 20px;
}

#acercaDe .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px;
}

#mision{
    display: flex;
    flex-direction: column;
    
}


#mision .container{
    padding: 25px;
    
    
}

 .mision-p{
    text-align: justify;
    font-weight: 700;
    font-size: 1.1em;
    padding: 10px;
}

.sobre{
    font-size: 1.5em;
    padding: 47px;
}

.texto{
    display: flex;
    text-align: justify;
    
}



#diferenciales{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: var(--second-color);
}

#diferenciales .container{
    padding: 0px;

}

#diferenciales .lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: -15px;
    margin-bottom: 57px;
    color: var(--second-color);

}

#diferenciales h2{
    font-size: 1.4em;
    padding-bottom: 36px;
    padding-top: 40px;
}

#diferenciales .img-container{
        display: flex;
    flex-direction: column;
    background-image: url(../img/diferenciales.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    background-position: center center;
}





@media(min-width:1000px) {
 
  
    p{
        font-size: 1em;
    }
    
  
   
    
    #hero{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 276px 0px;     
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    
    #hero .titulo{
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
    }

    #acercaDe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 149px 254px;}
    
    #acercaDe .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mision .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 169px 337px;
    }

    .mision-p{
        font-size: 1.3em;
        text-align: center;
    }
    


    #diferenciales{
        display: flex;
        justify-content: space-evenly;
        padding: 166px 493px;
        display: flex;
        justify-content: space-evenly;
        
    }

    #diferenciales .container{
        display: flex;
        flex-direction: row;
    }

    #diferenciales .lista{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 54px;
        color: var(--second-color);
        
    }
    
    .lista-diferenciales li{
        color: var(--link-color);
    }

    .lista-diferenciales p{
        color: var(--second-color);
    }




    #diferenciales .img-container{
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: cover;
        height: 324px;
        width: 599px;
        background-position: center center;
    }
}       

